.create-tweet {
  background-color: black;
  padding-bottom: 10%;

  button {
    border: 0;
    line-height: 2;
    padding: 0 20px;
    color: black;
    border-radius: 5px;
    background-color: #faff00;
    cursor: pointer;
  }

  .create-actions {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #faff00;
    align-items: center;
    padding: 3% 5%;
  }
}

.create-box {
  background: url(../img/path-header.png) no-repeat;
  height: 40vh;

  .textbox {
    border: 1px solid #faff00;
    color: #faff00;
    height: 28vh;
    margin: 0 5%;
  }

  textarea {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    border: none;

    &::placeholder {
      font-style: italic;
    }
  }
}

.polygons {
  position: fixed;
  height: 100vh;
  width: 414px;
  overflow: hidden;
  z-index: -1;

  .polygon1 {
    top: auto;
    position: fixed;
    bottom: 30%;
    right: 70px;
    overflow: hidden;
  }
  .polygon2 {
    position: fixed;
    top: 90%;
  }

  .polygon7 {
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: -1;
  }
}

.humans {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
    bottom: 0px;

    margin-left: 10%;

  .human1 {
    position: relative;
    left: 15%;
  }
}
