.login-page {
  $error: rgb(191, 7, 84);

  background-color: black;
  height: 100vh;

  .polygons {
    position: absolute;
    height: 100vh;
    width: 414px;
    overflow: hidden;
    z-index: auto;

    .polygon1 {
      position: absolute;
      bottom: 30%;
      right: 0%;
      z-index: auto;
    }

    .polygon2 {
      position: absolute;
      top: 80%;
    }

    .polygon3 {
      position: absolute;
    }
    .polygon5 {
      position: absolute;
      right: 30%;
      bottom: 0%;
    }

    .polygon6 {
      position: absolute;
      top: 10%;
      right: 10%;
    }
  }

  .person-sitting {
    height: fit-content;
    position: absolute;
  }

  .input-default {
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid #faff00;
    background-color: black;
    position: relative;
    color: white;

    &::placeholder {
      font-style: italic;
    }
  }

  .error {
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid $error;
    box-shadow: 0 0 5px $error;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid $error;
    color: $error;
  }

  input[type="password"] {
    border: none;
    outline: none;
    border-bottom: 1px solid #faff00;
    background-color: black;
    font-style: italic;
    color: white;
  }

  .login-container {
    display: flex;
    justify-content: center;
    padding-top: 30%;
  }

  .input-data {
    display: flex;
    position: relative;
  }

  form {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-direction: column;
  }

  .submit {
    position: relative;
    align-self: center;
    margin-top: 40%;

    & button {
      border: 0;
      line-height: 1.5;
      padding: 0 20px;
      text-align: center;
      color: black;
      border-radius: 3px;
      background-color: yellow;
      cursor: pointer;
    }
  }

  input[type="password"] {
    position: absolute;
    margin-top: 10%;
    text-decoration: none;
    display: inline-block;
  }

  .loginError {
    color: $error;
    position: relative;
    align-self: end;
    font-weight: bold;
    margin-top: 10%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  .inputs {
    margin-top: 100%;
  }
}
