.tweet-focus-page{

    background-color: black;
    height: 100vh;
    color: white;

    .back-action {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid yellow;

        .arrowback{
            padding: 0 5%;
        }
        
        p{ 
            color: yellow;
        }



    }

















}